#login {
  display: flex;
  height: 90svh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: rgba(245, 242, 242, 0.8);
}

.spinner {
  margin-top: 7rem;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  background: #0a0101;
  border-radius: 4px;
  transform-origin: -16px -32px;
  animation: rotate 1s linear infinite;
  transform: translate(-50%, -50%);
  display: none;
}

.button-toggle {
  margin-top: 3rem;
}

.welcome-message {
  margin-bottom: 10rem;
  font-size: 1.5rem;
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(-45deg) translate(-50%, -50%);
  }
  50% {
    transform: rotate(-245deg) translate(-50%, -50%);
  }
}
