#create-event {
  min-height: 90svh;
  display: flex;
  flex-wrap: wrap; /* Permite que los eventos se envuelvan a la siguiente fila si no caben en una sola fila */
  background-color: rgb(181, 194, 168);
  gap: 10px; /* Añade espacio entre los eventos */
  padding: 10px;
}

.event-admin {
  display: flex;
  flex-direction: column; /* Asegura que el contenido interno del evento esté en columna */
  align-items: center;
  justify-content: center;
  flex: 1 1 100px; /* Permite que los eventos se ajusten automáticamente y tengan un tamaño mínimo de 200px */
  max-width: 200px; /* Opcional: limita el ancho máximo de cada evento */
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 200px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo del formulario */
.event-form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 15px;
  margin-bottom: 30px;
}

.event-form input,
.event-form textarea {
  padding: 8px; /* Reducido padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.event-form input[type='date'] {
  padding: 6px; /* Reducido padding */
}

.event-form textarea {
  resize: vertical;
  min-height: 100px;
}

.event-form button {
  padding: 8px; /* Reducido padding */
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event-form button:hover {
  background-color: #0056b3;
}

.event h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.event p {
  margin: 10px 0;
}

.event img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
  margin: 10px 0;
}

/* Añadir un poco de espacio entre los eventos */
.event + .event {
  margin-top: 10px;
}
