#perfil {
  display: flex;
  justify-content: center;
  background-color: rgba(245, 242, 242, 0.8);
  align-items: center;
  min-height: 90vh;
  width: 100%;
  padding: 1rem;
}

#perfil > form {
  gap: 3px;
}

#currentProfileImage {
  margin-top: 10px;
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgb(124, 108, 95);
}
