#user-gestion {
  min-height: 90svh;
  background-color: rgba(245, 242, 242, 0.8);
  padding: 1rem 0.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin: 0.5rem 0;
}

#search-container {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

#search-input {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#search-input:focus {
  border-color: rgb(173, 143, 114);
  box-shadow: 0 4px 8px rgba(114, 68, 5, 0.897);
  outline: none;
}

#user-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

#user-table {
  width: 100%;
  max-width: 1200px;
  border-collapse: separate;
  border-spacing: 0;
  background-color: rgba(237, 221, 207, 0.982);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#user-table th,
#user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#user-table th {
  background-color: rgb(173, 143, 114);
  color: #ffffff;
  font-weight: 600;
}
.user-item {
  margin: 0.4em;
}

#user-table tr:hover {
  background-color: #ceced0ec;
}

.user-item img.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-item td {
  vertical-align: middle;
}

#user-gestion button {
  margin: 0.5rem;
}

.delete-btn {
  background-color: rgba(249, 85, 85, 0.87);
}

.delete-btn:hover {
  background-color: rgba(164, 0, 0, 0.87);
}
