.header-class {
  height: 10svh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(207, 206, 208, 0.5);
}

.nav-class {
  width: 70%;
  padding: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.468);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 400;
  font-size: 10px;
}

.ul-class {
  display: flex;
  justify-content: space-between;
}

.ul-class li a {
  color: rgb(173, 143, 114);
  font-size: 1.7rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.ul-class li a:hover {
  color: rgb(0, 0, 0);
}

@media (max-width: 767px) {
  .burger-button {
    display: block;
    background-color: transparent;
    border: none;
    color: rgb(124, 108, 95);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .burger-button:hover {
    background-color: transparent;
  }

  .ul-class {
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(207, 206, 208, 0.9);
    position: absolute;
    top: 10svh; /* Just below the header */
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .ul-class.ul-open {
    display: flex;
  }

  .ul-class li {
    margin: 10px 0;
  }

  .ul-class li a {
    color: rgb(173, 143, 114);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
  }

  .ul-class li a:hover {
    color: rgb(0, 0, 0);
  }

  .nav-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .burger-button {
    display: none;
  }

  .ul-class {
    display: flex;
    justify-content: space-around;
  }

  .ul-class li a {
    font-size: 1.2rem;
  }

  .nav-class {
    width: 70%;
  }
}

@media (min-width: 1025px) {
  .burger-button {
    display: none;
  }

  .ul-class {
    display: flex; /* Mostrar el menú de navegación en pantallas grandes */
  }
}
