.header-class {
  height: 10svh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(207, 206, 208, 0.5);
}

.nav-class {
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.468);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 600;
}

.ul-class {
  display: flex;
  justify-content: space-between;
}

.ul-class li a {
  color: rgb(173, 143, 114);
  font-size: 1.7rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.ul-class li a:hover {
  color: rgb(0, 0, 0);
}
